# # Python
# __pycache__/
# *.py[cod]
# *.so
# *.egg
# *.egg-info/
# dist/
# build/
# *.log

# # Jupyter Notebooks
# .ipynb_checkpoints/

# # VS Code
# .vscode/

# # macOS and Windows system files
# .DS_Store
# Thumbs.db

# # Environment files
# .env
# *.sqlite
# *.db

# Dataset folders and large files
Week1/dataset/tweet csv/*.csv
Week1/dataset/tweet csv/*.txt
Week1/dataset/tweet csv/*.xlsx
Week1/Code/c3/*.csv
# # Git LFS tracked files (optional if you're using Git LFS)
# *.zip
# *.tar.gz
# *.rar
# *.7z

# # Screenshots and media
# Week1/ScreenShot/
# *.png
# *.jpg
# *.jpeg
